# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3
*.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Python packaging
pip-wheel-metadata/
*.egg

# Environment variables
.env

# Celery
celerybeat-schedule

# Gunicorn
gunicorn.*
